<div class="container-fluid m0 p0 mt4 bg-neutral-blue">
  <div class="row mx-responsive m0 p0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0">
      <section id="contact-me" class="pt0">
        <h2 class="mt1">Contact Me</h2>
        <p class="mb2">Hi, my name is <a href="<%= site.github %>" class="underline">András Gulácsi</a>, a UI/UX designer, front-end developer, JAMstack enthusiast. <img class="emoji" src="/assets/images/happy.png" alt="smile"></p>
        <form name="contact" class="custom-form ws-validate" method="POST" action="/message-sent.html" netlify-honeypot="bot-field"
          netlify>
          <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
          </p>

          <div class="form-group mb1">
            <label for="inputEmail" class="form-label dark-blue">Your email</label>
            <br>
            <input type="email" name="name" id="inputEmail" class="border-round input-lg expanded" required="required" placeholder="Your email" />
          </div>

          <div class="form-group">
            <label for="message" class="form-label dark-blue">Your message</label>
            <br>
            <textarea name="message" id="message" required="required" placeholder="Your message"></textarea>
          </div>

          <div class="text-left clearfix pb3">
            <button type="submit" class="float-left btn btn-lg btn-text medium-size uppercase no-visited">Get in touch</button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>