<% if (comments) { %>
<div id="disqus_thread"></div>
<% if (comments) { %>
  <div id="disqus_thread"></div>
  <script src="/assets/scripts/disqus.js"></script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% } %>