<footer class="mt5 mb3">
  <div class="container-fluid m0">
    <div class="row ">
      <div class="col-xs-12 col-sm-8 col-lg-offset-4 col-lg-6 pl2 pr1">
        <p class="footer-text">MIT license &copy; <%= site.author %>, <%= site.currentYear %></p>
      </div>
    </div>
  </div>
</footer>

  