<header>
  <a href="/"><%= site.title %></a>
  <nav>
    <a href="/index.html">Home</a>
    <a href="/contact.html">Contact</a>
    <a href="/sample-page.html">Sample page</a>
    <a href="/404.html">404</a>
  </nav>
</header>
