<header>
  <div class="jumbotron">
    <div class="container clearfix">
      <h1 class="mb0 tshadow-black"><%= site.title %></h1>
      <p><%= site.quote %></p>
      <button id="deploy" class="mt2 no-visited btn btn-primary btn-lg btn-text" role="button" href="#">
        <img class="pull-left logo m0" style="margin-right: 5px; margin-top: 0px;" src="/assets/images/netlify.png"/>
        <span>Deploy to Netlify</span>
      </button>
    </div>
  </div>
</header>
