<div class="bg-dark-blue pt2">
  <div class="container-fluid m0">
    <div class="row mx-responsive m0 p0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0">
        <h1 class="white pt3 pb2 align-center">A Node.js-based static site generator</h1>

        <p class="neutral-blue-2 mb3 align-center">static-site-express is a simple Node.js based static-site generator that uses EJS
          and
          Markdown. You can deploy your
          static site to the Netlify cloud computing platform. Deploy, customize, and write your own blog.</p>
        <div class="align-center mb3">
          <button id="deploy" class="no-visited btn bg-yellow-gradient btn-lg btn-text medium-size uppercase bold-600 black" role="button" href="#">
            <img class="float-left logo m0" style="margin-right: 5px; margin-top: 15px;" src="/assets/images/netlify.png" />
            <span>Deploy to Netlify</span>
          </button>
        </div>


      </div>
    </div>
  </div>
</div>