<div class="row text-center align-center navbar-link m0">
  <div class="col-xs-4 p0">
    <a class="white smallest expanded uppercase pt-sans line-height-50 no-underline" href="/index.html">
      <div class="rectangle">Posts</div>
    </a>
  </div>
  <div class="col-xs-4 p0">
    <a class="light-gray smallest uppercase expanded pt-sans line-height-50 no-underline p0" href="/about.html">
      <div class="rectangle">About</div>
    </a>
  </div>
  <div class="col-xs-4 p0">
    <a class="light-gray smallest uppercase expanded pt-sans line-height-50 no-underline" href="/book.html">
      <div class="rectangle">Book</div>
    </a>
  </div>
</div>