@charset "UTF-8";
/* Created by András Gulácsi (@andrasgulacsi / salsaboy990) */
/* 30px */
.medium-size {
  font-size: 0.8rem; }

.min-size {
  font-size: 0.7rem; }

.bg-yellow-gradient {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFAE35 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #FFAE35 100%); }

.bg-dark-blue {
  background: #00253E; }

.dark-blue {
  color: #00253E; }

.bg-body-black {
  background: #353B40; }

.body-black {
  color: #353B40; }

.bg-medium-gray-text {
  background: #4A5359; }

.medium-gray-text {
  color: #4A5359; }

.bg-light-gray-text {
  background: #6A7780; }

.light-gray-text {
  color: #6A7780; }

.bg-neutral-blue {
  background: #BCC6CD; }

.neutral-blue {
  color: #BCC6CD; }

.bg-neutral-blue-2 {
  background: #D9E7F0; }

.neutral-blue-2 {
  color: #D9E7F0; }

.bg-pink-highlight {
  background: #FF1E61; }

.pink-highlight {
  color: #FF1E61; }

.bg-pink-error {
  background: #ad4c69; }

.pink-error {
  color: #ad4c69; }

.bg-yellow-btn-info {
  background: #FFAE35; }

.yellow-btn-info {
  color: #FFAE35; }

.bg-pale-yellow {
  background: #FFEED3; }

.yellow-btn-info {
  color: #FFEED3; }

.blue-link {
  background: #1169A5; }

.yellow-btn-info {
  color: #FFAE35; }

.white {
  color: #FFF; }

.gray-e {
  color: #eee; }

.gray-d {
  color: #ddd; }

.gray-c {
  color: #ccc; }

.gray-a {
  color: #aaa; }

.black {
  color: #000; }

.green {
  color: #24C2B0; }

.red {
  color: #c22424; }

.yellow {
  color: #FFAE35; }

.blue {
  color: #3575ff; }

.bg-none {
  background: none; }

.bg-white {
  background: #FFF; }

.bg-gray-e {
  background: #eee; }

.bg-gray-d {
  background: #ddd; }

.bg-gray-c {
  background: #ccc; }

.bg-gray-a {
  background: #aaa; }

.bg-black {
  background: #000; }

.bg-green {
  background: #24C2B0; }

.bg-red {
  background: #c22424; }

.bg-yellow {
  background: #FFAE35; }

.bg-blue {
  background: #3575ff; }

body,
html {
  color: #353B40;
  background: #FFF;
  font-size: 20px;
  font-family: "DM Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  /*scroll-behavior: smooth;*/ }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/* Clearfix hack to clear the floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

::-moz-selection {
  color: #fff;
  background: #1169A5; }

::selection {
  color: #fff;
  background: #1169A5; }

body,
p,
blockquote,
figure,
figcaption {
  margin: 0;
  padding: 0; }

pre {
  margin: 2rem 0;
  padding: 0; }

pre code {
  font-family: "Cousine", "Consolas", "Lucida Console", Monaco, monospace;
  font-size: 0.9rem;
  color: #FF1E61; }

code {
  font-family: "Cousine", "Consolas", "Lucida Console", Monaco, monospace;
  /*font-size: 0.9rem;*/
  color: #FF1E61; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #00253E;
  margin: 2rem 0 1.5rem 0;
  -webkit-font-smoothing: initial;
  line-height: 1.1; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: underline;
  font-weight: 800; }

h1,
.h1 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-top: 0; }

h2,
.h2 {
  font-size: 1.8rem;
  font-weight: 800; }

h3,
.h3 {
  font-size: 1.4rem;
  font-weight: 800; }

h4,
.h4 {
  font-size: 20px;
  font-weight: 700; }

h5,
.h5 {
  font-size: 0.8rem; }

h6,
.h6 {
  font-size: 0.7rem; }

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem; }

ol,
ul {
  margin-top: 0;
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem; }

.no-bullets {
  list-style-type: none;
  margin-left: 0rem;
  padding-left: 0;
  line-height: 1.56; }

blockquote {
  font-style: italic;
  font-family: "DM Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0; }

table {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

table,
th,
td {
  border: none; }

figcaption {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  font-style: italic;
  margin-left: 0rem;
  margin-right: 1rem; }

caption {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 0.8rem;
  font-style: italic;
  color: #4A5359; }

img {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0rem;
  margin-right: 0rem;
  display: block;
  height: auto;
  max-width: 100%; }

iframe {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0; }

th,
td {
  /*border: 1px solid #E1E3E4;*/
  padding: 0.25rem 0.5rem; }

tr:nth-child(even) {
  background: rgba(225, 227, 228, 0.3); }

hr {
  border: 0.5px solid #eee;
  margin: 0;
  margin-bottom: 0rem; }

a {
  text-decoration: underline;
  color: #1169A5;
  transition: color 0.3s ease-in; }

a:focus,
a:hover {
  color: #194a6a;
  text-decoration: none; }

/*
a:visited {
  color: rgb(80, 5, 99);
}*/
.no-visited:visited {
  color: #FFF; }

.no-underline {
  text-decoration: none !important; }

input {
  border-radius: 5px;
  max-width: 560px;
  width: 100%;
  padding: 0 10px;
  height: 45px;
  background-color: #fff;
  font-family: "DM Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem !important;
  color: #000; }

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: #FFEED3; }

textarea {
  font-family: "DM Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-top-color: #999;
  border-left-color: #999;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 0 10px;
  color: #000;
  max-width: 560px;
  width: 100%;
  min-height: 270px; }

.emoji {
  display: inline;
  margin-left: 0;
  margin-right: 0.25rem;
  margin-bottom: 0;
  margin-top: 0;
  width: 1rem;
  height: 1rem; }

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.inline-logo {
  display: inline-block;
  height: 27px;
  width: auto; }

section:before {
  height: 60px;
  content: "";
  display: block; }

/*
!++++++ MARGINS
*/
/* 0 rem */
.m0 {
  margin: 0rem; }

.mt0 {
  margin-top: 0rem; }

.mr0 {
  margin-right: 0rem; }

.mb0 {
  margin-bottom: 0rem; }

.ml0 {
  margin-left: 0rem; }

/* 1 baseline */
.m1 {
  margin: 1.5rem; }

.mt1 {
  margin-top: 1.5rem; }

.mr1 {
  margin-right: 1.5rem; }

.mb1 {
  margin-bottom: 1.5rem; }

.ml1 {
  margin-left: 1.5rem; }

/* 2 baseline */
.m2 {
  margin: 3rem; }

.mt2 {
  margin-top: 3rem; }

.mr2 {
  margin-right: 3rem; }

.mb2 {
  margin-bottom: 3rem; }

.ml2 {
  margin-left: 3rem; }

/* 3 baseline */
.m3 {
  margin: 4.5rem; }

.mt3 {
  margin-top: 4.5rem; }

.mr3 {
  margin-right: 4.5rem; }

.mb3 {
  margin-bottom: 4.5rem; }

.ml3 {
  margin-left: 4.5rem; }

/* 4 baseline */
.m4 {
  margin: 6rem; }

.mt4 {
  margin-top: 6rem; }

.mr4 {
  margin-right: 6rem; }

.mb4 {
  margin-bottom: 6rem; }

.ml4 {
  margin-left: 6rem; }

/* 5 baseline */
.m5 {
  margin: 7.5rem; }

.mt5 {
  margin-top: 7.5rem; }

.mr5 {
  margin-right: 7.5rem; }

.mb5 {
  margin-bottom: 7.5rem; }

.ml5 {
  margin-left: 7.5rem; }

/* 6 baseline */
.m6 {
  margin: 9rem; }

.mt6 {
  margin-top: 9rem; }

.mr6 {
  margin-right: 9rem; }

.mb6 {
  margin-bottom: 9rem; }

.ml6 {
  margin-left: 9rem; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.mx-responsive {
  margin-left: 13.5rem;
  margin-right: 13.5rem; }

.mhalf {
  margin: 0.75rem; }

.mthalf {
  margin-top: 0.75rem; }

.mrhalf {
  margin-right: 0.75rem; }

.mbhalf {
  margin-bottom: 0.75rem; }

.mlhalf {
  margin-left: 0.75rem; }

.mrquarter {
  margin-right: 0.375rem; }

.mlquarter {
  margin-left: 0.375rem; }

.mtquarter {
  margin-top: 0.375rem; }

/*
!++++++ PADDINGS
*/
/* 0 rem */
.p0 {
  padding: 0rem; }

.pt0 {
  padding-top: 0rem; }

.pr0 {
  padding-right: 0rem; }

.pb0 {
  padding-bottom: 0rem; }

.pl0 {
  padding-left: 0rem; }

/* 1 baseline */
.p1 {
  padding: 1.5rem; }

.pt1 {
  padding-top: 1.5rem; }

.pr1 {
  padding-right: 1.5rem; }

.pb1 {
  padding-bottom: 1.5rem; }

.pl1 {
  padding-left: 1.5rem; }

/* 2 baseline */
.p2 {
  padding: 3rem; }

.pt2 {
  padding-top: 3rem; }

.pr2 {
  padding-right: 3rem; }

.pb2 {
  padding-bottom: 3rem; }

.pl2 {
  padding-left: 3rem; }

/* 3 baseline */
.p3 {
  padding: 4.5rem; }

.pt3 {
  padding-top: 4.5rem; }

.pr3 {
  padding-right: 4.5rem; }

.pb3 {
  padding-bottom: 4.5rem; }

.pl3 {
  padding-left: 4.5rem; }

/* 4 baseline */
.p4 {
  padding: 6rem; }

.pt4 {
  padding-top: 6rem; }

.pr4 {
  padding-right: 6rem; }

.pb4 {
  padding-bottom: 6rem; }

.pl4 {
  padding-left: 6rem; }

.phalf {
  padding: 0.75rem; }

.pthalf {
  padding-top: 0.75rem; }

.prhalf {
  padding-right: 0.75rem; }

.pbhalf {
  padding-bottom: 0.75rem; }

.plhalf {
  padding-left: 0.75rem; }

.plquarter {
  padding-left: 0.375rem; }

.prquarter {
  padding-right: 0.375rem; }

.lh1 {
  line-height: 1; }

.lh13 {
  line-height: 1.333333; }

.lh15 {
  line-height: 1.5; }

.lh2 {
  line-height: 2; }

.lh3 {
  line-height: 2.5; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.italic {
  font-style: italic; }

.expanded {
  letter-spacing: 1px; }

.expanded-2 {
  letter-spacing: 2px; }

.expanded-3 {
  letter-spacing: 3px; }

.word-spacing {
  word-spacing: 5px; }

.condensed {
  letter-spacing: -1px; }

/* FONT STYLES */
.light {
  font-weight: 300; }

.normal {
  font-weight: 400; }

.normal-font {
  font-style: normal; }

.bold-500 {
  font-weight: 500; }

.bold-600 {
  font-weight: 600; }

.bold-700 {
  font-weight: 700; }

.bold-800 {
  font-weight: 800; }

.black-900 {
  font-weight: 900; }

.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

.no-underline {
  text-decoration: none; }

.line-through {
  text-decoration: line-through; }

.left {
  float: left; }

.right {
  float: right; }

.inline {
  display: inline; }

.block {
  display: block; }

.hidden {
  display: none; }

/* MEDIA QUERIES */
@media (max-width: 1800px) {
  .mx-responsive {
    margin-left: 13.5rem !important;
    margin-right: 13.5rem !important; } }

@media (min-width: 1440px) {
  /*body, html {
    font-size: 26px;;
  }*/
  .mx-responsive {
    margin-left: 13.5rem !important;
    margin-right: 13.5rem !important; } }

@media (max-width: 1439px) {
  .mx-responsive {
    margin-left: 7.5rem !important;
    margin-right: 7.5rem !important; } }

@media (max-width: 1024px) {
  .mx-responsive {
    margin-left: 4.5rem !important;
    margin-right: 4.5rem !important; } }

@media (max-width: 992px) {
  .mobile-hide-nav {
    display: none; } }

@media (max-width: 768px) {
  .mx-responsive {
    margin-left: 3rem !important;
    margin-right: 3rem !important; } }

@media (max-width: 576px) {
  .mx-responsive {
    margin-left: 18px !important;
    margin-right: 18px !important; } }

.custom-form .ws-invalid label,
.custom-form .ws-invalid h3 {
  color: #353B40; }

.custom-form .ws-invalid input,
.custom-form .ws-invalid textarea {
  border-color: #ad4c69; }

.custom-form .ws-success input,
.custom-form .ws-success textarea {
  border-color: #24C2B0; }

.ws-errorbox {
  padding-left: 0.5rem;
  letter-spacing: 0;
  font-weight: 600;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.ws-errorbox p {
  color: #ad4c69;
  font-size: 0.9rem; }

.btn:hover,
.btn:active,
.btn:focus {
  color: #000;
  width: 262px;
  /*border: 1px solid $yellow;*/ }

/*
.btn:active, .btn:active {
  background: $blue;
  box-shadow: none;
}*/
.btn {
  transition: all 0.5s ease 0s;
  height: 60px;
  width: 255px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: 0px solid #999;
  border-radius: 2px;
  color: #000;
  background: linear-gradient(180deg, #ffffff 0%, #ffae35 100%);
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 60px;
  text-align: center; }

.btn-lg,
.btn-group-lg > .btn {
  padding: 0px 30px;
  width: 255px;
  /*font-size: 20px;*/
  line-height: 60px;
  border-radius: 2px; }

.no-border {
  border: none !important; }

.border-top {
  border-top: 1px solid #ccc; }

.border-shadow {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 2px; }

.border-shadow-input {
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  /* Firefox 3.5 - 3.6 */
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 4px; }

.tshadow-gray {
  text-shadow: -0.5px -0.5px 0 #999, 0.5px -0.5px 0 #999, -0.5px 0.5px 0 #999, 0.5px 0.5px 0 #999; }

.no-shadow {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: none;
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.border-full {
  border: 1px solid #999; }

.border-full-white {
  border: 1px solid #3575ff; }

.img-border {
  border: 2px solid #ff6600; }

.border-left {
  border-left: 0.5rem solid #ff6600;
  border-radius: 0.125rem; }

.border-none {
  border: none; }

.border-radius-6 {
  border-radius: 6px; }

.border-gray {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px; }

.border-neutral-blue {
  border: 1px solid #D9E7F0;
  box-sizing: border-box;
  border-radius: 4px; }

.border-gray-4 {
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 4px; }

/* CUSTOM CLASSES */
.sans-serif {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px; }

.medium-img {
  width: 50%; }

.logo {
  height: 30px;
  width: 30px; }

.navbar-height {
  height: 60px; }

.tooltip {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7rem; }

.white-link {
  color: #FFF !important;
  text-decoration: none; }

.white-link:hover, .white-link:active, .white-link:focus {
  transition: ease-in 0.3s;
  color: #fff;
  text-decoration: underline; }

.gray-link {
  color: #D9E7F0;
  text-decoration: none; }

.gray-link:hover, .gray-link:active, .gray-link:focus {
  transition: ease-in 0.3s;
  color: #fff;
  text-decoration: underline; }

.black-link {
  color: #000 !important;
  text-decoration: underline; }

.black-link:hover, .black-link:active {
  transition: ease-in 0.3s;
  color: #000;
  text-decoration: none; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #FFF;
  background-color: #FF1E61; }

.nav-link {
  display: block;
  padding: .25rem .5rem; }

.nav-link:hover {
  color: #3575ff; }

.dropdown-item.active, .dropdown-item:active {
  color: #FFF;
  text-decoration: none;
  background-color: #000 !important; }

.dropdown-item {
  color: #353B40; }

.mr40px {
  margin-right: 40px; }
