@charset "UTF-8";
/* Minimal theme Created by András Gulácsi (@andrasgulacsi / salsaboy990), 2018-03-07 */
/* Final version */
.col {
    float: left;
    /* Include padding and border in the element's total width and height */
    box-sizing: border-box
}


/*
!++++++ COLUMNS
*/

.col-1 {
    width: 8.333333333%
}
.col-2 {
    width: 16.66666667%
}
.col-3 {
    width: 25%
}
.col-4 {
    width: 33.33333333%
}
.col-5 {
    width: 41.66666667%
}
.col-6 {
    width: 50%
}
.col-7 {
    width: 58.33333333%
}
.col-8 {
    width: 66.66666667%
}
.col-9 {
    width: 75%
}
.col-10 {
    width: 83.33333333%
}
.col-11 {
    width: 91.66666667%
}
.col-12 {
    width: 100%
}


@media (max-width: 520px) {
    .sm-col-1 {
        width: 8.333333333%
    }
    .sm-col-2 {
        width: 16.66666667%
    }
    .sm-col-3 {
        width: 25%
    }
    .sm-col-4 {
        width: 33.33333333%
    }
    .sm-col-5 {
        width: 41.66666667%
    }
    .sm-col-6 {
        width: 50%
    }
    .sm-col-7 {
        width: 58.33333333%
    }
    .sm-col-8 {
        width: 66.66666667%
    }
    .sm-col-9 {
        width: 75%
    }
    .sm-col-10 {
        width: 83.33333333%
    }
    .sm-col-11 {
        width: 91.66666667%
    }
    .sm-col-12 {
        width: 100%
    }

    .book {
        width: 75% !important
    }

    .clear-padding {
        padding: 0 !important
    }

    body, html {
        font-size: 18px !important
    }

    img.profile {
        width: 125px;
    }

}

@media (max-width: 400px) {
    body, html {
        font-size: 16px !important
    }

    img.profile {
        width: 110px;
    }
}


@media (max-width: 800px) {
    .md-col-1 {
        width: 8.3333333333%
    }
    .md-col-2 {
        width: 16.6666666667%
    }
    .md-col-3 {
        width: 25%
    }
    .md-col-4 {
        width: 33.3333333333%
    }
    .md-col-5 {
        width: 41.6666666667%
    }
    .md-col-6 {
        width: 50%
    }
    .md-col-7 {
        width: 58.3333333333%
    }
    .md-col-8 {
        width: 66.6666666667%
    }
    .md-col-9 {
        width: 75%
    }
    .md-col-10 {
        width: 83.3333333333%
    }
    .md-col-11 {
        width: 91.6666666667%
    }
    .md-col-12 {
        width: 100%
    }
}

@media (min-width: 86rem) {
    .lg-col-1 {
        width: 8.3333333333%
    }
    .lg-col-2 {
        width: 16.6666666667%
    }
    .lg-col-3 {
        width: 25%
    }
    .lg-col-4 {
        width: 33.3333333333%
    }
    .lg-col-5 {
        width: 41.6666666667%
    }
    .lg-col-6 {
        width: 50%
    }
    .lg-col-7 {
        width: 58.3333333333%
    }
    .lg-col-8 {
        width: 66.6666666667%
    }
    .lg-col-9 {
        width: 75%
    }
    .lg-col-10 {
        width: 83.3333333333%
    }
    .lg-col-11 {
        width: 91.6666666667%
    }
    .lg-col-12 {
        width: 100%
    }

    html, body {
        font-size: 22px
    }
}

/* Clearfix hack to clear the floats */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

/*
!++++++ MARGINS
*/

/* 0 rem */
.m0 {
    margin: 0rem
}

.mt0 {
    margin-top: 0rem
}

.mr0 {
    margin-right: 0rem
}

.mb0 {
    margin-bottom: 0rem
}

.ml0 {
    margin-left: 0rem
}

/* 1 rem */
.m1 {
    margin: 1rem
}

.mt1 {
    margin-top: 1rem
}

.mr1 {
    margin-right: 1rem
}

.mb1 {
    margin-bottom: 1rem
}

.ml1 {
    margin-left: 1rem
}

/* 2 rem */
.m2 {
    margin: 2rem
}

.mt2 {
    margin-top: 2rem
}

.mr2 {
    margin-right: 2rem
}

.mb2 {
    margin-bottom: 2rem
}

.ml2 {
    margin-left: 2rem
}

/* 3 rem */
.m3 {
    margin: 3rem
}

.mt3 {
    margin-top: 3rem
}

.mr3 {
    margin-right: 3rem
}

.mb3 {
    margin-bottom: 3rem
}

.ml3 {
    margin-left: 3rem
}

/* 4 rem */
.m4 {
    margin: 4rem
}

.mt4 {
    margin-top: 4rem
}

.mr4 {
    margin-right: 4rem
}

.mb4 {
    margin-bottom: 4rem
}

.ml4 {
    margin-left: 4rem
}

/* 5 rem */
.m5 {
    margin: 5rem
}

.mt5 {
    margin-top: 5rem
}

.mr5 {
    margin-right: 5rem
}

.mb5 {
    margin-bottom: 5rem
}

.ml5 {
    margin-left: 5rem
}

/* 6 rem */
.m6 {
    margin: 6rem
}

.mt6 {
    margin-top: 6rem
}

.mr6 {
    margin-right: 6rem
}

.mb6 {
    margin-bottom: 6rem
}

.ml6 {
    margin-left: 6rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mhalf {
    margin: 0.5rem
}

.mthalf {
    margin-top: 0.5rem
}

.mrhalf {
    margin-right: 0.5rem
}

.mbhalf {
    margin-bottom: 0.5rem
}

.mlhalf {
    margin-left: 0.5rem
}


/*
!++++++ PADDINGS
*/

/* 0 rem */
.p0 {
    padding: 0rem
}

.pt0 {
    padding-top: 0rem
}

.pr0 {
    padding-right: 0rem
}

.pb0 {
    padding-bottom: 0rem
}

.pl0 {
    padding-left: 0rem
}

/* 1 rem */
.p1 {
    padding: 1rem
}

.pt1 {
    padding-top: 1rem
}

.pr1 {
    padding-right: 1rem
}

.pb1 {
    padding-bottom: 1rem
}

.pl1 {
    padding-left: 1rem
}

/* 2 rem */
.p2 {
    padding: 2rem
}

.pt2 {
    padding-top: 2rem
}

.pr2 {
    padding-right: 2rem
}

.pb2 {
    padding-bottom: 2rem
}

.pl2 {
    padding-left: 2rem
}

/* 3 rem */
.p3 {
    padding: 3rem
}

.pt3 {
    padding-top: 3rem
}

.pr3 {
    padding-right: 3rem
}

.pb3 {
    padding-bottom: 3rem
}

.pl3 {
    padding-left: 3rem
}

/* 4 rem */
.p4 {
    padding: 4rem
}

.pt4 {
    padding-top: 4rem
}

.pr4 {
    padding-right: 4rem
}

.pb4 {
    padding-bottom: 4rem
}

.pl4 {
    padding-left: 4rem
}


.phalf {
    padding: 0.5rem
}

.pthalf {
    padding-top: 0.5rem
}

.prhalf {
    padding-right: 0.5rem
}

.pbhalf {
    padding-bottom: 0.5rem
}

.plhalf {
    padding-left: 0.5rem
}


*,
*::after,
*::before {
    box-sizing: inherit
}

html {
    box-sizing: border-box
}

body {
    color: #333;
    background: #fefefe;
    font-family: "PT Serif", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: left
}

body, p, blockquote,
pre, figure, figcaption {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    margin: 2rem 0 0.75rem 0;
    -webkit-font-smoothing: initial;
    line-height: 1.25
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    font-weight: 800
}

.pt-sans {
    font-family: "PT Sans",  Helvetica, Arial, sans-serif;
}


h1,
.h1 {
    font-size: 2rem;
    margin-top: 0
}

h2,
.h2 {
    font-size: 1.5rem
}

h3,
.h3 {
    font-size: 1.17rem
}

h4,
.h4 {
    font-size: 1rem
}

h5,
.h5 {
    font-size: 0.88rem
}

h6,
.h6 {
    font-size: 0.67rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    margin-top: 0;
    padding-left: 1.5rem
}

.no-bullets {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    line-height: 1;
}

blockquote {
    background: seashell;
    font-style: italic;
    margin: 0 1rem 1rem
}


.tshadow-black {
    text-shadow:
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        1px 1px 0 #333;
}

.tshadow-gray {
    text-shadow:
        -0.5px -0.5px 0 #999,
        0.5px -0.5px 0 #999,
        -0.5px 0.5px 0 #999,
        0.5px 0.5px 0 #999;
}

.lh2 {
    line-height: 2
}

.lh3 {
    line-height: 2.5
}

.bg-white {
    background-color: #FEFEFE
}

.white {
    color: #FFFFF0
}

.light-gray {
    color: #EFEFEF
}

.medium-gray {
    color: #CCC
}

.gray {
    color: #6D7274
}

.dark-gray {
    color: #3A3A3A
}

.black {
    color: #111
}

.red {
    color: rgb(239, 41 , 0)
}

.expanded {
    letter-spacing: 1px
}

.align-center {
    text-align: center
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.italic {
    font-style: italic
}

.normal {
    font-weight: 400
}

.bold {
    font-weight: 600
}

.bold-700 {
    font-weight: 700
}

.bold-800 {
    font-weight: 800
}

.uppercase {
    text-transform: uppercase
}

.underline {
    text-decoration: underline
}

.no-underline {
    text-decoration: none
}

.minimal {
    font-size: .7rem
}

.smallest {
    font-size: .8rem
}

.small {
    font-size: .9rem
}

.medium {
    font-size: 1.1rem
}

.big {
    font-size: 1.5rem
}


.left {
    float: left
}

.right {
    float: right
}

.inline {
    display: inline
}

.block {
    display: block
}


table {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: .75rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

figcaption {
    margin-bottom: 1.5rem;
    font-size: .75rem;
}

img {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    display: block;
    height: auto;
    width: 100%;
}

.cover {
    border-radius: 3px;
    opacity: .75;
}
.cover:hover {
    transition: 0.3s ease-in;
    opacity: 1;
    -webkit-filter: contrast(1);
    filter: contrast(1);
}

iframe {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}


th,
td {
    border: 1px solid #E1E3E4;
    padding: 0.25rem 0.5rem
}

tr:nth-child(even) {
    background: rgba(225, 227, 228, 0.3)
}

.border-top {
    border-top: 1px solid #ccc
}

.border-shadow {
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /*border: 1px solid #E1E3E4;*/
    border-radius: 3px;
}

.border-bottom {
    border-bottom: 1px solid #ccc
}

.border-bottom-black {
    border-bottom: 2px solid #ccc
}

.border-full {
    border: 1px solid #ccc
}

.border-none {
    border: none
}

.tag {
    display: inline;
    background: #FFFFF0;
    border: 1px solid #CCC;
    padding: 0.25rem;
    border-radius: 5px;
    font-size: .9rem
}

body,
html {
    font-size: 22px;
    font-family: "PT Serif", Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6667;
    margin: 0;
    padding: 0;
}

hr {
    border-color: #ccc;
    margin: 0.5rem 0;
}


a {
    color: #003981;
    transition: color 0.3s ease-in
}
a:hover {
    color: rgb(0, 12, 15)
}

.footer-link a {
    color: #CCC;
}
.footer-link a:hover {
    transition: color 0.3s ease-in;
    color: #CCC;
    text-decoration: underline
}

.navbar-link a {
    color: #FFFFF0;
    transition: color 0.3s ease-in
}
.navbar-link a:hover {
    transition: color 0.3s ease-in;
    color: #FFFFF0;
    text-decoration: underline
}

.profile {
    padding-top: 0;
    box-shadow: 2px 2px 2px 0px #E1E3E4;
    width: 135px;
    display: block;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.profile-small {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    box-shadow: 0.5px 0.5px 0.5px 0px #ccc;
    width: 55px;
    display: block;
    border-radius: 50%;
}

.profile404 {
    padding-top: 0;
    margin-top: 1rem;
    border: 2px solid rgb(239, 41 , 0);
    width: 90px;
    height: 90px;
    display: block;
    border-radius: 50%;
    margin-right: 0rem;
}


.unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-moz-selection {
    color: #fff;
    background: rgb(0, 90, 201)
}
  
::selection {
    color: #fff;
    background: rgb(0, 90, 201)
}


.intro {
    min-height: 225px;
    background: url(../images/blackhole.jpg) no-repeat;
    background-position: 50% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {
    min-height: 135px;
    background: #003981
}

.rectangle {
    height: 50px;
    background: #003981;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.current-rectangle {
    height: 50px;
    background: #333;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 1px 2px 1px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 1px 2px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.line-height-50 {
    line-height: 50px
}

.post-date {
    font-size: 0.8rem;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    color: #6D7274
}

.post-title {
    margin-bottom: 2rem;
}

.btn-primary {
    background: #003981
}

.btn-primary:hover {
    background: #333
}
