<div class="bg-white col-xs-12 mx-auto align-center pl1 pr1 width-100pc">
  <table class="red pt-sans align-center mx-auto mb0 headline-404">
    <tr class="m0 border-none">
      <td class="border-none">4</td>
      <td class="border-none p0"><img class="m0 profile404 unselectable" src="<%= site.image %>" alt="<%= site.author %>"/></td>
      <td class="border-none">4</td>
    </tr>
  </table>
  <p class="mb2 red bold">Hello there, the page you are looking for doesn't exists.</p>
</div>
