<div style="width: 100%" class="mt5">
  <div class="align-center">
    <h2>404 Ops!</h2>
    <p>Page not found.</p>
    <a href="\" class="no-visited no-underline btn btn-primary btn-lg btn-text" role="button">Back to homepage</a>
  </div>
</div>
