<div class="bg-white col-xs-12 mx-auto align-center pl1 pr1" style="width: 100%">
  <table class="red pt-sans align-center mx-auto mb0" style="font-size: 6rem; width: 240px; margin-top: 0">
    <tr class="m0 border-none">
      <td class="border-none">4</td>
      <td class="border-none p0"><img class="m0 profile404 unselectable" src="assets/images/profile.png" alt="Profile image"/></td>
      <td class="border-none">4</td>
    </tr>
  </table>
  <p class="mb2 red bold">Hello there, the page you are looking for doesn't exists.</p>
</div>
