<div style="width: 100%" class="mt5">
  <div class="align-center">
    <h2>404 Ops!</h2>
    <p>Page not found.</p>
    <a href="\" class="black-link no-visited no-underline btn bg-yellow-gradient btn-lg btn-text medium-size uppercase bold-600 black" role="button">Back to homepage</a>
  </div>
</div>
