    <!-- ABOUT BODY PART -->
    <div class="sm-col-12 md-col-9 lg-col-6 col-7 mx-auto mb3">
      <div class="pb1 border-bottom">
        <img class="left m0 profile unselectable" src="assets/images/me_smaller_hun.jpg" alt="Profilkép"/>
        <p class="plhalf">Gulácsi András vagyok. Full stack Javascript webfejlesztőnek és
          UX designer-nek tanulok. Eredeti végzettségemet tekintve geográfus
          és környezettudós vagyok. A szabadidőmben táncolok.</p>
        
        <p>A fő képességeim: Node.js, Express keretrendszer, Jekyll, egyedi webdesign, GIT verziókezelő, npm csomagkezelő.</p>
        <p>Elsajátításra váró ismeretek: MySQL, MongoDB és PostgreSQL adatbázisok.</p>
        
        <p>Az állásajánlatokkal kapcsolatos megkereséseket az <a href="mailto:guland@protonmail.com">e-mailemre</a> várom (<a href="#">friss önéletrajz</a>).</p>

        <h2>Referenciamunkáim</h2>
          <h3>Honlapok</h3>
            <ul>
                <li><a href="#">gulacsiandras.blog</a></li>
                <li><a href="https://www.kizombavilag.hu">www.kizombavilag.hu</a></li>
                <li><a href="http://www.newgeographer.com">www.newgeographer.com</a></li>
            </ul>

          <h3>npm csomagok</h3>
            <ul>
                <li><a href="https://www.npmjs.com/package/basestats">basestats v1.0.2</a>: egy Node.js modul, amely alapstatisztikákat számol tömbökből, tömbszerű objektumokból, JSON-ból és a MongoDB adatokból.</li>
                <li><a href="https://www.npmjs.com/package/collog-type">collog-type v1.0.1</a>: egy logger függvény, amely különböző színnel írja ki a konzolra az argumentumait az adat típusától függően.</li>
            </ul>
          
          <h3>Egyéb alkalmazások</h3>
            <ul>
                <li><a href="https://github.com/SalsaBoy990/static-site-express">static-site-express</a>: egy Node.js alapú statikus oldalgenerátor az Express keretrendszer alkalmazásával (template motor: EJS, adatbázis: MySQL). Ezzel készítettem ezt a honlapot.</li>
            </ul>

      </div>

    </div>
