    <!-- ABOUT BODY PART -->
    <div class="sm-col-12 md-col-10 lg-col-7 col-8 mx-auto mb3">

      <div class="pb1 border-bottom">
        <p>Gulácsi András vagyok, full stack Javascript webfejlesztőnek és
          UX designer-nek tanulok. Eredeti végzettségemet tekintve geográfus
          és környezettudós vagyok. A szabadidőmben táncolok.</p>
        
        <p>A kulcskompetenciáim: Node.js, Express, Jekyll, egyedi webdesign, GIT verziókezelő, npm csomagkezelő</p>
        <p>Elsajátításra váró ismeretek: MySQL, MongoDB, esetleg még a PostgreSQL adatbázisok.</p>
        
        <p>Az állásajánlatokkal kapcsolatos megkereséseket <a href="mailto:guland@protonmail.com">e-mailben</a> várom (<a href="#">friss önéletrajz</a>).</p>
        
        <h3>Jelentősebb munkáim</h3>
          <h4>Honlapok</h4>
            <ul>
                <li><a href="#">gulacsiandras.blog</a></li>
                <li><a href="https://www.kizombavilag.hu">www.kizombavilag.hu</a></li>
                <li><a href="http://www.newgeographer.com">www.newgeographer.com</a></li>
            </ul>

          <h4>npm csomagok</h4>
            <ul>
                <li><a href="https://www.npmjs.com/package/basestats">basestats v1.0.2</a>: egy Node.js modul, amely alapstatisztikákat számol tömbökből, tömbszerű objektumokból, JSON-ból és a MongoDB adatokból.</li>
                <li><a href="https://www.npmjs.com/package/collog-type">collog-type v1.0.1</a>: egy logger függvény, amely különböző színnel írja ki a konzolra az argumentumait az adat típusától függően.</li>
            </ul>
          
          <h4>Tervezett alkalmazások</h4>
            <ul>
                <li><span class="underline">static-site-express</span>: egy Node.js alapú statikus oldalgenerátor az Express keretrendszer alkalmazásával. Template motor: EJS, a blogbejegyzések Markdown-ban.</li>
                <li><span class="underline">just-comment-it</span>: egy Node.js alapú minimalisztikus kommentelő rendszer.</li>
            </ul>

      </div>

    </div>
