<div class="container mb3 mt3">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0">
    <div class="pb1 border-bottom">
      <h1>About</h1>
      <img class="left m0 profile unselectable" src="assets/images/profile.png" alt="Profilkép"/>
      <p class="plhalf">Lorem ipsum dolor sit amet, et purto interesset consequuntur nec, eu labore alienum referrentur est. Dicit tibique ullamcorper ad qui, sea veri tritani alienum ei. Ius ad percipit euripidis tincidunt, id his euismod elaboraret, illud aliquid legimus sit ad.</p>
      <a class="btn btn-primary mbhalf smallest" href="<%= site.cv %>">Download CV</a>
      <a class="btn btn-primary mbhalf smallest" href="mailto:<%= site.email %>">Send email</a>
      
      <hr>
      <h2>Keywords:</h2>
      <p><div class="tag">webdesigner</div>
        <div class="tag lh3">UI/UX designer</div>
        <div class="tag lh3">Frontend Developer</div>
        <div class="tag lh3">JavaScript</div>
        <div class="tag lh3">Node.js</div>
        <div class="tag lh3">Express</div>
        <div class="tag lh3">SQL</div>
        <div class="tag lh3">Jekyll</div>
        <div class="tag lh3">Bootstrap 3</div>
        <div class="tag lh3">Angular 2+</div>
        <div class="tag lh3">Git</div>
        <div class="tag lh3">npm</div>
      </p>
      <hr> 
      
      <h2>Reference works:</h2>     
      <h3>Websites:</h3>
      <ul>
        <li><a class="underline" href="https://www.gulacsiandras.blog">gulacsiandras.blog</a></li>
        <li><a class="underline" href="https://www.kizombavilag.com">www.kizombavilag.com</a></li>
        <li><a class="underline" href="http://www.newgeographer.com">www.newgeographer.com</a></li>
      </ul>

      <h3>npm packages:</h3>
      <ul>
        <li><a class="underline" href="https://www.npmjs.com/package/basestats">basestats v1.0.2</a>: A Node.js module that calculates basic statistics from arrays, array-like objects, JSON and data from MongoDB.</li>
        <li><a class="underline" href="https://www.npmjs.com/package/collog-type">collog-type v1.0.1</a>: Function that logs its arguments to the console (on Node.js) in different colors based on their data type</li>
        </ul>
            
      <h3>Other applications:</h3>
      <ul>
        <li><a class="underline" href="https://github.com/SalsaBoy990/static-site-express">static-site-express</a>: A simple static-site generator made in Node.js. You can deploy your static site to Netlify.</li>
      </ul>
    </div>
  </div>
</div>