<div class="container mb3 mt3">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="pb1 border-bottom">
        <h1><%= site.bookTitle %></h1>
        <p>Lorem ipsum dolor sit amet, et purto interesset consequuntur nec, eu labore alienum referrentur est. Dicit tibique ullamcorper ad qui, sea veri tritani alienum ei. Ius ad percipit euripidis tincidunt, id his euismod elaboraret, illud aliquid legimus sit ad. Ut vim tantas intellegat, mel ne alia viderer conceptam. Et nec natum essent, id oratio omnium ius, meliore appetere pro cu. Purto liberavisse ne eum.</p>
        
        <hr>
        <img class="mt2 mb1 mx-auto unselectable" style="width: 70%;" src="assets/images/book.jpg" alt="Book cover"/>
        <hr>
        
        <p>Lorem ipsum dolor sit amet, et purto interesset consequuntur nec, eu labore alienum referrentur est. Dicit tibique ullamcorper ad qui, sea veri tritani alienum ei. Ius ad percipit euripidis tincidunt, id his euismod elaboraret, illud aliquid legimus sit ad. Ut vim tantas intellegat, mel ne alia viderer conceptam. Et nec natum essent, id oratio omnium ius, meliore appetere pro cu. Purto liberavisse ne eum.</p>
      </div>
    </div>
  </div>
</div>