    <!-- BOOK BODY PART -->
    <div class="sm-col-12 md-col-10 lg-col-7 col-8 mx-auto mb3">

      <div class="pb1 border-bottom">

        <h1>Rendezett emberi környezetet a világon!</h1>
        <p>Készületben... Sajnos idő hiányában csak nagyon lassan haladok vele.</p>
        <p>Egy példafejezetet közel végleges állapotában elérhetővé tettem ezen a címen: <a href="https://www.docdroid.net/AfviHbV/gulacsiandras-kivonat-19-gmo-2017-07-19.pdf">Félelemkeltés a GMO-kkal és a vegyszerekkel. A zöld szervezetek kapcsolata az organikus élelmiszerlobbival.</a></p>

        <img class="mt2 mb1 mx-auto align-center book unselectable" src="assets/images/book_small.jpg" alt="Könyvborító"/>

      </div>

    </div>
