<!-- BLOGPOSTS -->
<div class="sm-col-12 md-col-10 lg-col-7 col-8 mx-auto mb3">

  <div class="pb1 border-bottom">
    <p class="small montserrat m0">2018. január 5.</p>
    <a href="#" class="black big">Felforgatók, utópisták és a kulturális marxizmus</a>
  </div>

  <div class="pt2 pb1 border-bottom">
    <p class="small montserrat m0">2017. december 18.</p>
    <a href="#" class="black big">Hány cigány él Magyarországon?</a>
  </div>

  <div class="pt2 pb1 border-bottom">
    <p class="small montserrat m0">2017. július 27.</p>
    <a href="#" class="black big">A Séta a „Tudományért” tüntetések a társadalmi igazságosságért</a>
  </div>

  <div class="pt2 pb1 border-bottom">
    <p class="small montserrat m0">2017. július 01.</p>
    <a href="#" class="black big">Félelemkeltés a GMO-kkal és a vegyszerekkel. A zöld szervezetek kapcsolata az organikus élelmiszerlobbival.</a>
  </div>

</div>
