<section>
  <a href="" id="get-started"></a>
  <h2 class="dark-blue mt3">Get Started with <span class="pink-highlight">static-site-express</span></h2>
  <h3 class="medium-gray-text mt2">1. Installation</h3>
  <p>Clone my repository:</p>
  <pre>
  <code>git clone https://github.com/SalsaBoy990/static-site-express</code>
</pre>
  <p>Or use the 'Deploy to Netlify' button.</p>

  <h3 class="medium-gray-text mt2">2. Build your site</h3>
  <p>Build site into the /public/ folder:</p>
  <pre>
  <code>npm run build</code>
</pre>
  <p>Serve website on localhost:4000:</p>
  <pre>
  <code>npm run serve</code>
</pre>

  <h3 class="medium-gray-text mt2">3. Publish your website</h3>
  <p><a href="https://www.netlify.com/" target="_blank">Register at Netlify</a> and see the 2-min <a href="https://www.netlify.com/docs/continuous-deployment/"
      target="_blank">tutorial video.</a></p>

  <p>Click on the ‘New site from Git’ button on your Netlify dashboard. Select your GitHub repository. Do NOT change
    the
    deploy settings, because I already set them in the <code>netlify.toml</code> config file.</p>

  <h2 class="dark-blue mt3">Documentation</h2>
  <ul class="no-bullets p0">
    <li><a href="/documentation.html">Goto Full Documentation</a></li>
    <li><a href="https://www.netlify.com/docs/">See Netlify Documentation</a></li>
  </ul>
  <p>If you have a problem or a question about static-site-express, <a href="https://github.com/SalsaBoy990/static-site-express/issues"
      target="_blank">open an issue here.</a></p>
  <p>Or use my nice Netlify-powered contact form below!</p>
</section>
