<div style="width: 100%" class="mt5">
  <div class="align-center">
    <h2>Thank you!</h2>
    <p class="mb0 mt1">Your message successfully sent.</p>
    <a href="\" class="no-visited no-underline btn btn-primary btn-lg btn-text mb2 mt2" role="button">Back to homepage</a>
  </div>
</div>