@use "variables"

html, body
    font-family: variables.$sans-serif-text
    min-width: 320px

h1, h2, h3, h4, h5, h6
    font-family: variables.$sans-serif-display
    line-height: 1.2

pre
    overflow-x: auto

p, blockquote, ul, ol
    line-height: 1.5

blockquote p
    font-size: 24px
    font-style: italic

p, ul li
    code
        font-weight: 700
        color: firebrick

figure
    margin: 0

img.cover
    max-width: 100%
    width: 100%

iframe
    margin-top: 0.5rem
    margin-bottom: 1.25rem

figcaption
    padding-bottom: 2rem

::-moz-selection
    color: white
    background: variables.$primary

::selection
    color: white
    background: variables.$primary


.container-lg
    max-width: 960px

.small
    font-size: 0.85em

.icon
    height: 24px
    width: 24px

.netlify-image
    width: 24px
    height: 24px
    position: relative
    top: 4px

.date
    margin-top: 1rem
    font-size: 16px !important
    display: block
    opacity: 0.7

.sr-only, .hidden
    display: none

.clearfix
    overflow: auto

.logo
    height: 60px
    width: auto
