<footer class="mb6 pr1 pl1">
  <div class="sm-col-12 md-col-10 lg-col-7 col-8 mx-auto align-center montserrat">
    <p class="small gray">Minden jog fenntartva &copy; <%= site.year %> <br />
      <%= site.title %>, Magyarország, Szeged  &#8729; <a href="mailto:<%= site.email %>">Kapcsolat</a></p>
  </div>
</footer>