<header>
  <div class="intro unselectable border-bottom-gray">
    <div class="row m0 p0 ">
      <div class="container">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
          <h1 class="light-gray bold-800 mt2 tshadow-black"><%= site.title %></h1>
          <p class="white smallest italic expanded lh2 mt1 mb2"><%= site.quote %></p>
        </div>
      </div>
    </div>
  </div>
</header>