<div class="sm-col-12 md-col-11 .lg-col-7 col-8 mx-auto mb2 border-bottom">
  <img class="mb1 profile mx-auto align-center unselectable" src="assets/images/me_smaller_hun.jpg" alt="Profilkép"/>
  <p class="align-center bold italic">Gulácsi András vagyok.</p>
  <blockquote class="align-center medium dark-gray bg-white"><%= site.quote %>
  </blockquote>
</div>