<div class="sm-col-12 md-col-9 .lg-col-6 col-7 mx-auto mb3 border-bottom">
  <img class="mb1 profile mx-auto align-center unselectable" src="assets/images/me_smaller_hun.jpg" alt="Profilkép"/>
  
</div>