    <div class="sm-col-12 md-col-10 lg-col-7 col-8 mx-auto mb3 montserrat uppercase">
      <ul class="align-center small letter-spacing">
        <li class="inline">Az esszéim</li>
        <li class="plhalf prhalf inline"> &#8226; </li>
        <a href="about.html"><li class="inline">Magamról</li></a>
        <li class="plhalf prhalf inline"> &#8226; </li>
        <a href="book.html"><li class="inline">A könyvem</li></a>
      </ul>
    </div>