<div class="sm-col-12 md-col-9 lg-col-6 col-7 mx-auto mb2 uppercase letter-spacing">
  <nav class="align-center smallest">
    <a href="index.html" class="dark-gray pr1">Kezdőoldal</a>
    <a href="book.html" class="dark-gray pl1">A könyvem</a>
  </nav>
</div>