<div class="sm-col-12 md-col-10 lg-col-7 col-9 mb2 mx-auto letter-spacing">

  <nav class="align-center smallest uppercase">
      <a href="./../../../index.html" class="dark-gray pr1">Kezdőlap</a>
    </nav>

  </div>