<div class="sm-col-12 md-col-10 lg-col-7 col-9 mx-auto pt1 letter-spacing">

  <nav class="align-center smallest uppercase">
      <a href="about.html" class="dark-gray pr1">Rólam</a>
      <a href="book.html" class="dark-gray pl1">A könyvem</a>
    </nav>

  </div>


<div class="sm-col-12 md-col-10 lg-col-7 col-9 mx-auto align-center pb0 mt2 mb2 border-bottom">
    <h1><a href="/index.html" class="mb0 bold-700 black no-underline italic"><%= site.title %> blogja</a></h1>
    <blockquote class="align-center medium gray"><%= site.quote %>
    </blockquote>
  </div>



  
    