<nav class="align-center smallest uppercase mt3 mb1">
  <a href="./../../../index.html" class="dark-gray mr1 underline">Posts</a>
  <a href="./../../../about.html" class="dark-gray mr1 underline">About</a>
  <a href="./../../../index.html" class="dark-gray underline">Book</a>
</nav>
<div class="mt1 mb1" >
  <p class="mb2 small dark-gray">If You like what you read, and want to get email notifications about the new blogposts, <a class="underline" href="<%= site.mailchimp %>">subscribe to my newsletter</a>!</p>
</div>