<nav class="align-center smallest uppercase mt3 mb2">
  <a href="./../../../index.html" class="dark-gray mr1 underline">Posts</a>
  <a href="./../../../about.html" class="dark-gray mr1 underline">About</a>
  <a href="./../../../index.html" class="dark-gray underline">Book</a>
</nav>