body,
html {
  color: $body-black;
  background: $white;
  font-size: $base-size;
  font-family: $body-font;
  line-height: $lheight;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  /*scroll-behavior: smooth;*/
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Clearfix hack to clear the floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

::-moz-selection {
  color: #fff;
  background: $blue-link;
}

::selection {
  color: #fff;
  background: $blue-link;
}

body,
p,
blockquote,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

pre {
  margin: 2rem 0;
  padding: 0;
}

pre code {
  font-family: $code-font;
  font-size: 0.9rem;
  color: $pink-highlight;
}

code {
  font-family: $code-font;
  /*font-size: 0.9rem;*/
  color: $pink-highlight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 800;
  color: $dark-blue-bg;
  margin: 2rem 0 $baseline 0;
  -webkit-font-smoothing: initial;
  line-height: 1.1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: underline;
  font-weight: 800;
}

h1,
.h1 {
  font-size: $h1-size;
  font-weight: 800;
  margin-top: 0;
}

h2,
.h2 {
  font-size: $h2-size;
  font-weight: 800;
}

h3,
.h3 {
  font-size: $h3-size;
  font-weight: 800;
}

h4,
.h4 {
  font-size: $base-size;
  font-weight: 700;
}

h5,
.h5 {
  font-size: $medium-size;
}

h6,
.h6 {
  font-size: $min-size;
}

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  margin-top: 0;
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.no-bullets {
  list-style-type: none;
  margin-left: 0rem;
  padding-left: 0;
  line-height: 1.56;
}

blockquote {
  font-style: italic;
  font-family: $body-font;
  padding: 0;
}

table {
  font-family: $heading-font;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: $medium-size;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table,
th,
td {
  border: none;
}

figcaption {
  font-family: $heading-font;
  margin-bottom: 1.5rem;
  font-size: $medium-size;
  font-style: italic;
  margin-left: 0rem;
  margin-right: 1rem;
}

caption {
  font-family: $heading-font;
  margin: 0;
  font-size: $medium-size;
  font-style: italic;
  color: $medium-gray-text;
}

img {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0rem;
  margin-right: 0rem;
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

th,
td {
  /*border: 1px solid #E1E3E4;*/
  padding: 0.25rem 0.5rem;
}

tr:nth-child(even) {
  background: rgba(225, 227, 228, 0.3);
}

hr {
  border: 0.5px solid $gray-e;
  margin: 0;
  margin-bottom: 0rem;
}

a {
  text-decoration: underline;
  color: $blue-link;
  transition: color 0.3s ease-in;
}
a:focus,
a:hover {
  color: $blue-link-hover;
  text-decoration: none;
}

/*
a:visited {
  color: rgb(80, 5, 99);
}*/

.no-visited:visited {
  color: $white;
}

.no-underline {
  text-decoration: none !important;
}


input {
  border-radius: 5px;
  max-width: 560px;
  width: 100%;
  padding: 0 10px;
  height: 45px;
  background-color: #fff;
  font-family: $body-font;
  font-size: 1rem !important;
  color: #000;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: $pale-yellow;
}

textarea {
  font-family: $body-font;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-top-color: #999;
  border-left-color: #999;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 0 10px;
  color: #000;
  max-width: 560px;
  width: 100%;
  min-height: 270px;
}

.emoji {
  display: inline;
  margin-left: 0;
  margin-right: 0.25rem;
  margin-bottom: 0;
  margin-top: 0;
  width: 1rem;
  height: 1rem;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.inline-logo {
  display: inline-block;
  height: 27px;
  width: auto;
}

section:before {
  height: 60px;
  content: "";
  display:block;
}