.no-border {
  border: none !important;
}

.border-top {
  border-top: 1px solid #ccc;
}

.border-shadow {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 2px;
}

.border-shadow-input {
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4); /* Firefox 3.5 - 3.6 */
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 4px;
}

.tshadow-gray {
  text-shadow: -0.5px -0.5px 0 #999, 0.5px -0.5px 0 #999, -0.5px 0.5px 0 #999,
    0.5px 0.5px 0 #999;
}

.no-shadow {
  -webkit-box-shadow: none; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: none; /* Firefox 3.5 - 3.6 */
  box-shadow: none; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.border-full {
  border: 1px solid #999;
}

.border-full-white {
  border: 1px solid $blue;
}

.img-border {
  border: 2px solid #ff6600;
}

.border-left {
  border-left: 0.5rem solid #ff6600;
  border-radius: 0.125rem;
}

.border-none {
  border: none;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-gray {
  border: 1px solid $gray-c;
  box-sizing: border-box;
  border-radius: 4px;
}

.border-neutral-blue {
  border: 1px solid $neutral-blue-2;
  box-sizing: border-box;
  border-radius: 4px;
}

.border-gray-4 {
  border: 1px solid $gray-e;
  box-sizing: border-box;
  border-radius: 4px;
}
