/* CUSTOM CLASSES */
.sans-serif {
  font-family: $heading-font;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.medium-img {
  width: 50%;
}

.logo {
  height: 30px;
  width: 30px;
}

.navbar-height {
  height: 60px;
}

.tooltip {
  font-family: $heading-font;
  font-size: $min-size;
}

.white-link {
  color: $white !important;
  text-decoration: none;
}

.white-link:hover, .white-link:active, .white-link:focus {
  transition: ease-in 0.3s;
  color: #fff;
  text-decoration: underline;
}

.gray-link {
  color: $neutral-blue-2;
  text-decoration: none;
}

.gray-link:hover, .gray-link:active, .gray-link:focus {
  transition: ease-in 0.3s;
  color: #fff;
  text-decoration: underline;
}

.black-link {
  color: $black !important;
  text-decoration: underline;
}

.black-link:hover, .black-link:active {
  transition: ease-in 0.3s;
  color: $black;
  text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: $white;
  background-color: $pink-highlight;
}

.nav-link {
  display: block;
  padding: .25rem .5rem;
}

.nav-link:hover {
  color: $blue;
}

.dropdown-item.active, .dropdown-item:active {
  color: $white;
  text-decoration: none;
  background-color: $black !important;
}

.dropdown-item {
  color: $body-black
}

.mr40px {
  margin-right: 40px;
}
