.custom-form .ws-invalid label,
.custom-form .ws-invalid h3 {
  color: $body-black;
}
.custom-form .ws-invalid input,
.custom-form .ws-invalid textarea {
  border-color: $pink-error;
}

.custom-form .ws-success input,
.custom-form .ws-success textarea {
  border-color: $green;
}

.ws-errorbox {
  padding-left: 0.5rem;
  letter-spacing: 0;
  font-weight: 600;
  font-family: $heading-font;
}

.ws-errorbox p {
  color: $pink-error;
  font-size: 0.9rem;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: $black;
  width: 262px;
  /*border: 1px solid $yellow;*/
}

/*
.btn:active, .btn:active {
  background: $blue;
  box-shadow: none;
}*/

.btn {
  transition: all 0.5s ease 0s;
  height: 60px;
  width: 255px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: 0px solid #999;
  border-radius: 2px;
  color: $black;
  background: linear-gradient(180deg, #ffffff 0%, #ffae35 100%);
  font-family: $heading-font;
  line-height: 60px;
  text-align: center;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0px 30px;
  width: 255px;
  /*font-size: 20px;*/
  line-height: 60px;
  border-radius: 2px;
}
