/* MEDIA QUERIES */
@media (min-width: 1500px) {

}

@media (max-width: 1800px) {
    .mx-responsive {
        margin-left: margin-size(9) !important;
        margin-right: margin-size(9) !important
    }
}

@media (min-width: 1440px) {
  /*body, html {
    font-size: 26px;;
  }*/
  .mx-responsive {
    margin-left: margin-size(9) !important;
    margin-right: margin-size(9) !important
}
}

@media (max-width: 1439px) {
    .mx-responsive {
      margin-left: margin-size(5) !important;
      margin-right: margin-size(5) !important
        /*margin-left: 66px !important;
        margin-right: 66px !important;*/
    }

}

@media (min-width: 1025px) {

}

@media (max-width: 1024px) {
    .mx-responsive {
        margin-left: margin-size(3) !important;
        margin-right: margin-size(3) !important
    }
}

@media (max-width: 992px) {
    .mobile-hide-nav {
        display: none; }
}

@media (max-width: 768px) {
    .mx-responsive {
      margin-left: margin-size(2) !important;
      margin-right: margin-size(2) !important
    }

}

@media (max-width: 576px) {
    .mx-responsive {
        margin-left: 18px !important;
        margin-right: 18px !important;
    }
}

@media (max-width: 347px) {

}