.lh1 {
  line-height: 1;
}

.lh13 {
  line-height: 1.333333;
}

.lh15 {
  line-height: 1.5;
}

.lh2 {
  line-height: 2;
}

.lh3 {
  line-height: 2.5;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.expanded {
  letter-spacing: 1px;
}

.expanded-2 {
  letter-spacing: 2px;
}

.expanded-3 {
  letter-spacing: 3px;
}

.word-spacing {
  word-spacing: 5px;
}

.condensed {
  letter-spacing: -1px;
}

/* FONT STYLES */
.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.normal-font {
  font-style: normal
}

.bold-500 {
  font-weight: 500;
}

.bold-600 {
  font-weight: 600;
}

.bold-700 {
  font-weight: 700;
}

.bold-800 {
  font-weight: 800;
}

.black-900 {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.line-through {
  text-decoration: line-through;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.hidden {
  display: none;
}
