@charset "UTF-8";
/* Created by András Gulácsi (@andrasgulacsi / salsaboy990) */

// Sizes
$baseline:    1.5rem /* 30px */;
$base-size:   20px;
$lheight:     1.5;
$h1-size:     2.4rem;
$h2-size:     1.8rem;
$h3-size:     1.4rem;
$h4-size:     1rem;
$medium-size:  0.8rem;
$min-size:    0.7rem;


.medium-size {
  font-size: $medium-size;
}

.min-size {
  font-size: $min-size;
}


// Fonts
$heading-font: 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
$body-font:    'DM Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
$code-font:    'Cousine', 'Consolas', 'Lucida Console', Monaco, monospace;


// Color Variables
$dark-blue-bg:           #00253E;
$body-black:             #353B40;
$medium-gray-text:       #4A5359;
$light-gray-text:        #6A7780;
$neutral-blue:           #BCC6CD;
$neutral-blue-2:         #D9E7F0;
$pink-highlight:         #FF1E61;
$pink-error:             #ad4c69;
$yellow-btn-info:        #FFAE35;
$pale-yellow:            #FFEED3;
$blue-link:              #1169A5;
$blue-link-hover:        #194a6a;

// Default colors
$white:   #FFF;
$gray-e:  #eee;
$gray-d:  #ddd;
$gray-c:  #ccc;
$gray-a:  #aaa;
$black:   #000;
$green:   #24C2B0;
$red:     #c22424;
$yellow:  #FFAE35;
$blue:    #3575ff;

.bg-yellow-gradient {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFAE35 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #FFAE35 100%);
}

// Function to calculate margin sizes (n times the baseline grid size)
@function margin-size($n) {
  @return $n * $baseline;
}

.bg-dark-blue {
  background: $dark-blue-bg;
}

.dark-blue {
  color: $dark-blue-bg;
}

.bg-body-black {
  background: $body-black;
}

.body-black {
  color: $body-black;
}

.bg-medium-gray-text {
  background: $medium-gray-text;
}

.medium-gray-text {
  color: $medium-gray-text;
}

.bg-light-gray-text {
  background: $light-gray-text;
}

.light-gray-text {
  color: $light-gray-text;
}

.bg-neutral-blue {
  background: $neutral-blue;
}

.neutral-blue {
  color: $neutral-blue;
}

.bg-neutral-blue-2 {
  background: $neutral-blue-2;
}

.neutral-blue-2 {
  color: $neutral-blue-2;
}

.bg-pink-highlight {
  background: $pink-highlight;
}

.pink-highlight {
  color: $pink-highlight;
}

.bg-pink-error {
  background: $pink-error;
}

.pink-error {
  color: $pink-error;
}

.bg-yellow-btn-info {
  background: $yellow-btn-info;
}

.yellow-btn-info {
  color: $yellow-btn-info;
}

.bg-pale-yellow {
  background: $pale-yellow;
}

.yellow-btn-info {
  color: $pale-yellow;
}

.blue-link {
  background: $blue-link;
}

.yellow-btn-info {
  color: $yellow-btn-info;
}














.white {
  color: $white;
}

.gray-e {
  color: $gray-e;
}

.gray-d {
  color: $gray-d;
}

.gray-c {
  color: $gray-c;
}

.gray-a {
  color: $gray-a;
}

.black {
  color: $black;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}

.blue {
  color: $blue;
}

.bg-none {
  background: none;
}

.bg-white {
  background: $white;
}

.bg-gray-e {
  background: $gray-e;
}

.bg-gray-d {
  background: $gray-d;
}

.bg-gray-c {
  background: $gray-c;
}

.bg-gray-a {
  background: $gray-a;
}

.bg-black {
  background: $black;
}

.bg-green {
  background: $green;
}

.bg-red {
  background: $red;
}

.bg-yellow {
  background: $yellow;
}

.bg-blue {
  background: $blue;
}
