<section class="page-404">
    <h1>404</h1>
    <p>Something's missing.</p>
    <p>Sorry, we can't find that page. You'll find lots to explore on the home page.</p>
    <a href="<%= site.url %>/" class="button">Back to Homepage</a>
</section>
