<div class="max-w-2xl mx-auto">
  <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-3">Contact page</h1>

  <form name="contact" method="POST" action="/message-sent.html" netlify-honeypot="bot-field" netlify>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div class="hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </div>
      <div>
        <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Full name</label>
        <input
          type="text"
          name="full_name"
          id="full_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Your name"
          required
        />
      </div>

      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Your email"
          required
        />
      </div>
    </div>

    <div class="mb-6">
      <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
      <textarea
        id="message"
        rows="4"
        name="message"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Your message..."
        required
      ></textarea>
    </div>

    <div class="flex items-center mb-4">
      <input
        id="privacy_accepted"
        type="checkbox"
        value="1"
        name="gdpr"
        class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        required
      />
      <label for="privacy_accepted" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >I have read and accepted the <a href="#" class="hover:underline text-blue-600 dark:text-blue-500">Privacy Policy</a>.</label
      >
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Send message
    </button>
  </form>
</div>
