<section class="page-message-sent">
      <h1>Thank you for contacting me!</h1>
      <p>
        Your message was successfully sent. <img style="width: 24px" src="<%= site.url %>/assets/images/happy.png" alt="smile" />
      </p>
      <a href="<%= site.url %>/">Back to Homepage</a>
</section>
