<section class="page-message-sent">
    <h1>Thank you for contacting me!</h1>
    <p class="page-message-sent--not-found-message">
        Your message was successfully sent. <img class="icon" src="<%= site.url %>/assets/images/happy.png" alt="smile"/>
    </p>
    <a href="<%= site.url %>/" class="button">Back to Homepage</a>
</section>
