<div class="max-w-2xl mx-auto">
  <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-3 dark:text-gray-50 text-center">Opening hours</h1>
  <div id="open-hours"></div>
  <script src="/assets/js/opening-hours.js" charset="utf-8"></script>
  <script>
    const hours = {
      Monday: { start: 1000, end: 1800 },
      Tuesday: { start: 1400, end: 1800 },
      Wednesday: { start: 1100, end: 1900 },
      Thursday: { start: 1300, end: 1800 },
      Friday: { start: 1000, end: 1700 },
      Saturday: { start: 900, end: 1700 },
      Sunday: {},
    };

    OpenHours.generateTime(hours);
  </script>
</div>
