<div class="sm-col-12 md-col-10 lg-col-8 col-7 mx-auto align-left">
  <span class="mt1 smallest merryweather gray">2017. november 1.</span>
  <h1>A 2018. évi tematika</h1>

  <h2>Íme, a tervezett blogbejegyzéseim listája:</h2>

  <ul>
    <li>Mi áll a „zöldek” vegyszer- és GMO-ellenessége mögött? Tényleg veszélyeztetik a méheket a neonikotinoidok?</li>
    <li>Az élővilág és a kihalási hullámok. De hol vannak a tetemek?</li>
    <li>A törzsi ösztön.</li>
    <li>Tudományos szkepticizmus, kulturális ellenállás és tagadás a kulturális evolúció tükrében.</li>
    <li>A konzervativizmus közelebb áll a környezetvédelemhez, mint a globális „zöld” ideológia.</li>
    <li>A legkegyetlenebb adó. A CO<sub>2</sub> társadalmi költsége és haszna.</li>
    <li>Mitől jó üzlet a „megújuló” energia? Al Gore miért terjeszti a globális felmelegedés körüli hisztériát?</li>
    <li>Mit mond valójában az IPCC a klímaváltozás várható következményeiről (valószínűségek)?<sup>1</sup></li>
    <li>A radioaktivitás veszélyeinek eltúlozása. A „zöldek” és atomenergia-ellenes lobbi kapcsolata.</li>
  </ul>

  <p class="smallest">(<sup>1</sup> Természetesen a médiában nap mint nap hallható klímahisztéria, vagy nevezhetnénk katasztrófabeszédnek, köszönőviszonyban sincsen azzal, amit az IPCC állít.)</p>
</div>

