<div class="sm-col-12 md-col-10 lg-col-8 col-7 mx-auto align-left">
    <span class="mt1 smallest merryweather gray">2017. augusztus 7.</span>
    <h1>Hány cigány él Magyarországon?</h1>

    <p>A népszámlálások adataiból az derül ki, hogy Magyarországon 2001 és 2011 között 53%-kal, 205 720 főről 315 583 főre nőtt a cigányok száma. A Központi Statisztikai Hivatal (KSH) népszámlálásai a nemzetiségre, az anyanyelvre, a családi, baráti közösségben használt nyelvre, és a kulturális kötődésre kérdeznek rá, de ezekre a válaszadás megtagadható. A nemzetiségi hovatartozásukról nem nyilatkozók száma 2001 és 2011 között két és félszeresére, 543 317 főről 1 398 731 főre emelkedett.</p>
    <p>Az 1. táblázatban az 1893-2003 közötti időszakban végzett mintavételek, cigányösszeírások eredményeit foglaltam össze. A reprezentatív szociológiai mintavételek a cigányok tényleges, a lakókörnyezet minősítése által meghatározott számát becsülték meg 1971-ben, 1993-ban és 2003-ban. Az 1893. évi cigányösszeírás egyedülálló a maga nevében, mivel hazánkban a mai napig nem történt ehhez hasonló, kifejezetten a cigányok számbavételét célzó kutatás.</p>

    <figcaption> 1. táblázat: A magyarországi cigányok száma az 1893. évi cigányösszeírás és a szociológiai adatfelvételek alapján (Kertesi G. – Kézdi G. 1998, Kemény I. 2004). * A trianoni határokon belül. </figcaption>
    <table>
        <tr>
            <th>Év </th>
            <th>Felmérések, ezer fő (középérték) </th>
            <th>A modell szerint (ezer fő) </th>
        </tr>
        <tr>
            <td>1893</td>
            <td>59,982*</td>
            <td>60</td>
        </tr>
        <tr>
            <td>1971</td>
            <td>270-370 (320)</td>
            <td>300</td>
        </tr>
        <tr>
            <td>1993</td>
            <td>449-461 (455)</td>
            <td>472</td>
        </tr>
        <tr>
            <td>2003</td>
            <td>520-650 (585)</td>
            <td>580</td>
        </tr>
        <tr>
            <td>2015</td>
            <td></td>
            <td>743</td>
        </tr>
        <tr>
            <td>2020</td>
            <td></td>
            <td>823</td>
        </tr>
    </table>

    <p>A cigányság száma <strong>az elmúlt 110 évben megtízszereződött</strong>: <strong>60 ezer főről 600 ezer főre gyarapodott 2003-ig</strong>. 2003-ban az össznépesség 10 millió 142 ezer fő volt, melynek <strong>6%</strong>-a a cigány nemzetiséghez tartozott. A népszámlálások kétszeresen alábecsülték a magyarországi cigányság tényleges számát!</p>
    <p>A cigányság 2015. évi számának becslésére és 2020-ig való előrejelzésére, egy egyszerű modellt készítettem. A rendelkezésre álló adatfelvételek adatpontjaira egy exponenciális függvényt illesztettem (1. ábra).</p>
    <img src="http://www.newgeographer.com/assets/gipsy/Cigany_modell-min.jpg" alt="A cigányok számának előrejelzése 2020-ig" />
    <figcaption>1. ábra: A cigányfelmérések eredményeire számolt exponenciális függvény (Hablicsek L. 2007). (Az R-ben írt kódot lásd az <a href="https://github.com/SalsaBoy990/R-codes" target="_blank">R-codes</a> gyűjteményemben.) </figcaption>
    
    <p>Szépen látható, hogy a modell teljesen reprodukálja az 1893. évi összeírás értékét (60 ezer fő). <strong>A cigányság 2015-ös létszámára 743 ezer jött ki, míg 2020-ra meg fogja haladni a 800 ezer főt.</strong> Az 1. táblázatban közöltem a modell alapján visszaszámolt értékeket, amelyek kitűnő egyezést mutatnak a valós értékekkel (r<sup>2</sup>=0,99, p&lt;0,001).</p>
    <p>A teljes termékenységi arányszám, vagyis az egy szülőképes korú (15-49 év) nőre eső gyerekszám, jó mutatja, hogy 1970 óta a magyar nők kevesebb gyereket szülnek (<strong>a teljes népesség körében 1,3 gyerek/nő</strong>, de ebbe a cigányok is beletartoznak), mint amennyi a népességszám szinten tartásához (2,1 gyerek/szülőképes nő) elegendő lenne. Ezzel szemben, kizárólag <strong>a cigány nők esetén</strong>, a termékenységi arányszám még mindig jelentősen meghaladja az átlagot (<strong>3,0</strong>). A cigányság gyerekszáma gyorsabban nő, mint a magyaroké. A születő magyar gyerekek száma viszont az elöregedő magyar társadalom halálozási ütemét nem képes ellensúlyozni. A cigányság számaránya a népességen belül pedig tovább növekszik, de szerencsére <strong>az utóbbi tíz évben a cigány nők termékenységi arányszáma is lassan csökkenésnek indult</strong> (2. táblázat).</p>
    
    <figcaption> 2. táblázat: A teljes női lakosság és a cigány nők termékenységi arányszámai, 1930-31 és 1999-2002 között (Janky B. 2005) </figcaption>
    <table>
        <tr>
            <th>Időszak </th>
            <th>A teljes lakosság körében </th>
            <th>A cigány nők körében </th>
        </tr>
        <tr>
            <td>1930-31</td>
            <td>2,8</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>1969-70</td>
            <td>2,0</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>1990-93</td>
            <td>1,8</td>
            <td>3,3</td>
        </tr>
        <tr>
            <td>1995-98</td>
            <td>1,4</td>
            <td>3,3</td>
        </tr>
        <tr>
            <td>1999-2002</td>
            <td>1,3</td>
            <td>3,0</td>
        </tr>
    </table>

    <p>Kizárólag a magyar nők esetén az egy szülőképes nőre jutó gyerekszám katasztrofálisan alacsony: 1,3 alatt van, mivel a cigányok szaporasága javít a statisztikán. Sajnos nem áll rendelkezésemre külön, csak a magyarokra vonatkozó adat. Így is egészen ritka adatokat adok közre.</p>
    <p>A teljes népesség és a cigányság élveszületési számának és arányának változásából kiderül, hogy <strong>2003-ban már minden hatodik újszülött cigány volt</strong> (3. táblázat) (Kemény I. 2004). A cigányság korösszetétele is teljesen eltér a magyarságétól: <strong>a 15 év alattiak aránya a cigányok esetén megközelíti a 37%-ot</strong>, míg <strong>a 60 éven felüliek aránya 3,9%</strong>-ot tesz ki. Ez fiatalos korszerkezetet jelent. Az össznépesség esetén azonban, a cigányokhoz képest, <strong>a 15 éven aluliak aránya kevesebb, mint feleakkora</strong> (16,1%), illetve <strong>a 60 éven felüliek aránya több, mint ötször akkora</strong> (20,8%). A tizenöt éven aluliak aránya meghaladja a hatvan éven felüliekét, ami elöregedő korszerkezetre utal (4. táblázat).</p>

    <figcaption> 3. táblázat: Az élveszületések számának és arányának változása a teljes népesség és a cigányság körében 1971-2003 (Kemény I. 2004) </figcaption>
    <table>
        <tr>
            <th>Év </th>
            <th>A teljes lakosság körében (ezer fő) </th>
            <th>A cigány népesség körében </th>
            <th>A cigány születések aránya </th>
        </tr>
        <tr>
            <td>1971</td>
            <td>151</td>
            <td>10</td>
            <td>&lt;7%</td>
        </tr>
        <tr>
            <td>1993</td>
            <td>116</td>
            <td>13</td>
            <td>&gt;11%</td>
        </tr>
        <tr>
            <td>2003</td>
            <td>94,647</td>
            <td>15</td>
            <td>15,8%</td>
        </tr>
    </table>

    <figcaption> 4. táblázat: A cigány háztartásokban élő és az országos népesség a 0-14 év közötti és a 60 év feletti korcsoportjainak százalékos megoszlása 2003-ban (Kemény I. 2004) </figcaption>
    <table>
        <tr>
            <th>Korcsoport </th>
            <th>A teljes népesség esetén </th>
            <th>A cigányok körében </th>
        </tr>
        <tr>
            <td>15 éven aluliak</td>
            <td>16,1</td>
            <td>36,8</td>
        </tr>
        <tr>
            <td>60 éven felüliek</td>
            <td>20,8</td>
            <td>3,9</td>
        </tr>
    </table>

    <p>A könnyebb összehasonlíthatóság kedvéért, a 2-3. ábrákon megjelenítettem a cigány és a magyar korfát a 2001. évi népszámlálás adatainak felhasználásával. Megjegyzés: a vízszintes tengely beosztása a két korfán eltérő. A magyar lakosság esetén 39 év az átlagéletkor, míg a cigányoknál csupán 25.</p>
    <img src="http://www.newgeographer.com/assets/gipsy/Cigany_korfa-min.jpg" alt="A cigányok számának előrejelzése 2020-ig" />
    <figcaption>2. ábra: A cigányságot jellemző korfa piramis alakú (KSH alapján). (Az R-ben írt kódot lásd az <a href="https://github.com/SalsaBoy990/R-codes" target="_blank">R-codes</a> gyűjteményemben.) </figcaption>

    <img src="http://www.newgeographer.com/assets/gipsy/Magyar_korfa-min.jpg" alt="A cigányok számának előrejelzése 2020-ig" />
    <figcaption>3. ábra: A magyarság korfája elöregedő korszerkezetet tükröz, urna alakú (KSH alapján). (Az R-ben írt kódot lásd az <a href="https://github.com/SalsaBoy990/R-codes" target="_blank">R-codes</a> gyűjteményemben.) </figcaption>

    <p><strong>A cigányok 86,9%-ának végzettsége általános iskola</strong> (8 évfolyam vagy annál kevesebb), <strong>egyetemi, főiskolai végzettséggel mindössze 2607 fő rendelkezett</strong> 2011-ben (5. táblázat).</p>

    <figcaption> 5. táblázat: A magyar és a cigány népesség megoszlása a legmagasabb befejezett iskolai végzettség szerint, 2011-ben (KSH alapján). </figcaption>
    <table>
        <tr>
            <th>Legmagasabb iskolai végzettség </th>
            <th>Magyar (%) </th>
            <th>Cigány (%) </th>
        </tr>
        <tr>
            <td>8 évfolyamnál alacsonyabb</td>
            <td>18,1</td>
            <td>47,5</td>
        </tr>
        <tr>
            <td>8 évfolyam</td>
            <td>23,5</td>
            <td>39,4</td>
        </tr>
        <tr>
            <td>Középfokú iskola érettségi nélkül, szakmai oklevéllel</td>
            <td>18,0</td>
            <td>8,8</td>
        </tr>
        <tr>
            <td>Érettségi</td>
            <td>25,6</td>
            <td>3,4</td>
        </tr>
        <tr>
            <td>Főiskola, egyetem</td>
            <td>14,7</td>
            <td>0,8</td>
        </tr>
    </table>

    <p>A 6. táblázatból világossá válik, hogy a szocializmus időszakában a cigányok foglalkoztatottsága (különösen a férfiak) jóval magasabb volt, egészen a rendszerváltozásig. Onnantól kezdve drasztikusan leesett a cigányok foglalkoztatottsága, és az adatok szerint 2003-ig változatlan volt. <strong>1987-1993 között a férfiak esetén 45,6, a nők esetén 33, míg együtt 39,4%-kal csökkent a dolgozók aránya.</strong></p>

    <figcaption> 6. táblázat: A cigány férfiak és nők foglalkoztatottsága 1971-2003 között százalékban (Janky B. 2005). * Az 1971-es, 1993-as és 2003-as országos reprezentatív cigányvizsgálat alapján. N: a minta nagysága, az adatok a 15–54 éves nők és 15–59 éves férfiak százalékában értendők. </figcaption>
    <table>
        <tr>
            <th> </th>
            <th>1971 </th>
            <th>1978 </th>
            <th>1987 </th>
            <th>1993 </th>
            <th>2003 </th>
        </tr>
        <tr>
            <td>Férfiak</td>
            <td>85,2</td>
            <td>77,3</td>
            <td>74,4</td>
            <td>28,8</td>
            <td>29,2</td>
        </tr>
        <tr>
            <td>Nők</td>
            <td>30,3</td>
            <td>47,0</td>
            <td>49,3</td>
            <td>16,3</td>
            <td>16,3</td>
        </tr>
        <tr>
            <td>Együtt</td>
            <td>n/a</td>
            <td>62,0</td>
            <td>62,0</td>
            <td>22,6</td>
            <td>22,7</td>
        </tr>
        <tr>
            <td>N</td>
            <td>n/a</td>
            <td>2875</td>
            <td>3888</td>
            <td>4842</td>
            <td>3081</td>
        </tr>
    </table>

    <h2>Végszó</h2>
    <p>A szocializmus alatt kevés volt a „közveszélyes munkakerülő”. A nehézipar, a bányászat sok alacsonyan képzett munkaerőt szívott fel, ami munkát adott, a cigányoknak is. Viszont a rendszerváltoztatás során szétbomlasztották a magyar ipart, jelentősen megnövelve ezzel a munkanélküliséget. Ma a szociális ellátórendszeren élősködnek az Indiából származó cigányok (megélhetési gyerekcsinálók). A cigányokkal pedig csak keményen lehet bánni, hiszen a többségük csak az erőszakból ért.</p>
    <p>A cigányok beilleszkedési képtelenségét a cigányok viselkedésében kell keresni. Nem a magyarok szegregálják a cigányokat, hanem a cigányok magukat, mert <strong>nem akarnak integrálódni</strong>!</p>
    <p>A bőnözőket nem luxusbörtönbe kell zárni, hanem kemény munkatáborba, hogy társadalmilag hasznos tevékenységet folytassanak. Ez majd lelohasztja a cigányok bűnözésre való hajlamát.</p>
    <h2>Felhasznált irodalom</h2>

    <ol>
        <li><em>Hablicsek L.</em> (2007). <a href="http://demografia.hu/kiadvanyokonline/index.php/demografia/article/viewFile/540/483">Kísérleti számítások a roma lakosság területi jellemzőinek alakulására és 2021-ig történő előrebecslésére.</a> – Demográfia 50(1), pp. 7-54.</li>
        <li><em>Janky B.</em> (2005). <a href="www.szmm.gov.hu/download.php?ctag=download&amp;docID=20471">A cigány nők társadalmi helyzete és termékenysége.</a> – In. Nagy I. – Pongrácz T. –Tóth I. Gy. (szerk.): Szerepváltozások. Jelentés a nők és férfiak helyzetéről, 2005. – TÁRKI, Ifjúsági, Családügyi, Szociális és Esélyegyenlőségi Minisztérium, Budapest. pp. 136–148.</li>
        <li><em>Kemény I.</em> (2004). <a href="http://www.demografia.hu/kiadvanyokonline/index.php/demografia/article/download/615/427">A magyarországi cigány népesség demográfiája.</a> – Demográfia 47(3-4), pp. 335-346.</li>
        <li><em>Kertesi G. – Kézdi G.</em> (1998). <a href="http://econ.core.hu/file/download/Kertesi_Kezdi/A_cigany_nepesseg_Mo-n.pdf">A cigány népesség Magyarországon.</a> (Dokumentáció és adattár.) – Socio-typo, Budapest. 467 p.</li>
    </ol>
    <ul>
        <li><a href="http://www.nepszamlalas2001.hu/hun/kotetek/04/tabhun/tabl01/load01.html">KSH 2001. évi népszámlálás. 1.1. Nemzetiség.</a> (letöltve: 2015-05-27)</li>
        <li><a href="http://www.nepszamlalas2001.hu/hun/kotetek/24/tables/loadcig2_1.html">KSH 2001. évi népszámlálás. Cigány, roma: 2.1. A népesség korév és nemek szerint, a nemek aránya.</a> (letöltve: 2015-05-25)</li>
        <li><a href="http://www.nepszamlalas2001.hu/hun/kotetek/24/tables/loadmagy2_1.html">KSH 2001. évi népszámlálás. Magyar: 2.1. A népesség korév és nemek szerint, a nemek aránya.</a> (letöltve: 2015-05-25)</li>
        <li><a href="http://www.ksh.hu/nepszamlalas/docs/tablak/nemzetiseg/09_02_15_01.xls">KSH 2011. évi népszámlálás. 2.15.1. A népesség korcsoport, településtípus és nemek szerint, a nemek aránya.</a> (letöltve: 2015-05-27)</li>
        <li><a href="http://www.ksh.hu/nepszamlalas/docs/tablak/teruleti/00/00_2_1_6_1.xls">KSH 2011. évi népszámlálás. 2.1.6.1. A népesség nemzetiség, korcsoport, legmagasabb befejezett iskolai végzettség és nemek szerint.</a> (letöltve: 2015-05-26)</li>
        <li><a href="http://www.ksh.hu/nepszamlalas/docs/tablak/nemzetiseg/09_01_01.xls">KSH 2011. 1.1. A népesség a nemzetiségi hovatartozást befolyásoló tényezők szerint.</a> (letöltve: 2015-05-27)</li>
    </ul>
</div>