<!DOCTYPE html>
<html lang="hu">
  <!-- HEAD -->
  <%- include('../partials/head') %>
<body>
  <!-- MAIN CONTENT -->
  <main class="mt1 pr1 pl1 clear-padding">

    <!-- NAVIGATION BAR -->
    <%- include('../partials/navbar-book') %>

    <!-- BOOK BODY PART -->
    <%- body %>

  </main>

  <!-- FOOTER, SOCIAL MEDIA -->
  <%- include('../partials/footer') %>
</body>
</html>