<!DOCTYPE html>
<html lang="hu">
  <!-- HEAD -->
  <%- include('../partials/head') %>
<body>

  <!-- MAIN CONTENT -->
  <main class="m0 p0 clear-padding">

    <!-- HEADER, NAVIGATION BAR -->
    <%- include('../partials/navbar-home') %>

    <!-- BLOGPOSTS -->
    <%- body %>

  </main>

  <!-- FOOTER, SOCIAL MEDIA -->
  <%- include('../partials/footer') %>

</body>
</html>