<div class="container-fluid m0 p0 bg-medium-gray-text navbar-height" style="line-height: 60px">
  <div class="row mx-responsive m0 p0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0">
      <footer class="">
        <p class="min-size m0 neutral-blue-2">MIT license &copy;
          <%= site.author %>,
          <%= site.currentYear %>. Powered by <a href="https://www.netlify.com/" target="_blank"><img class="inline-logo m0 mlquarter" src="/assets/images/netlify-logo.png" alt=""></a>
        </p>
      </footer>
    </div>
  </div>
</div>